
/* CSS reset template */

*, *::before, *::after {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    max-width: 1920px;
    margin:auto;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
  padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
  }
 
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    letter-spacing: -0.01em;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

html {
    scroll-behavior: smooth;
   }
  
  :focus {
    outline: 2px dashed #00ff19;
    outline-offset: 0.25rem;
  }
  
  main:focus {
    outline: none;
  }
/* **************end of template************************************************************************* */
.navbar {
    overflow: hidden;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right:20%;
    padding-left:1%;
    margin:auto;
}

.navbar a {
    display: block;
    float: right;
    color: blanchedalmond;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
}

.navbar a:hover {color: rgb(239, 182, 95);}

.navbar a.split {
    float: left;
    color: rgb(239, 182, 95);
}
.navbar a.split:hover {color: blanchedalmond;} 

.navbar a:active,.navbar a.split:active {
    border-bottom: 3px solid rgb(239, 182, 95);
}

.navbar #menu-links {
  display: none;
}

.main {
    margin-top: 60px;
    background:linear-gradient(to left, #2C5364, #203A43, #0F2027);
    margin:auto;
}

.intro {
  margin-top: 60px;
  margin-bottom: auto;
}

.details{
  background:#0F2027;
}

/* ===========================================*/

.intro-column {
  float: left;
  width: 70% 30%;
  margin-left: 100px;
  
}

.intro-row:after {
  content: "";
  display: table;
  clear: both;
}

.details-column {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  .details-row:after {
    content: "";
    display: table;
    clear: both;
  }

  #profile-pic {
    height: 100%;
    width: auto;
    max-height: 400px;
    border-radius: 50%;
    opacity:1.0;
    margin: 60px;
    float: right;
  }

  #profile-pic:hover {
    opacity: 0.7;
  }

h1 {
    font-size: 30px;
    font-weight: 700;
    color: pink;  
    padding:100px 0px 20px 0px; 
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: blanchedalmond;  
  padding:100px 0px 20px 0px; 
}

p {
    font-size:15px;
    font-weight:400;
    color: pink;
    padding:20px 0px 0px 0px;
    word-wrap: break-word;
}

p a {
    text-decoration: none;
    color: pink;
}

p a:hover {
    color: rgb(246, 113, 135);
}

.footer {
  background-color: pink;
  height: 50px;
  width:auto;
  padding-top: 10px;  
}


@media screen and (max-width: 900px) {
  .intro-column, .details-column {
    width: 100%;
  }
  #profile-pic {
    max-height: 200px;
    float:left;
    margin: 30px;
  }
}


